[package]
name = "smoldot-light-wasm"
version = "0.7.3"
authors = ["Parity Technologies <admin@parity.io>", "Pierre Krieger <pierre.krieger1708@gmail.com>"]
description = "Browser bindings to a light client for Substrate-based blockchains"
repository = "https://github.com/paritytech/smoldot"
license = "GPL-3.0-or-later WITH Classpath-exception-2.0"
edition = "2021"
publish = false

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
event-listener = { version = "2.5.3" }
fnv = { version = "1.0.7", default-features = false }
futures = "0.3.25"
hashbrown = { version = "0.12.3", default-features = false }
lazy_static = "1.4.0"
log = { version = "0.4.17", features = ["std"] }
nom = { version = "7.1.1", default-features = false }
pin-project = "1.0.12"
rand = "0.8.5"
slab = { version = "0.4.7", default-features = false }
smoldot = { version = "0.4.0", path = "../../..", default-features = false }
smoldot-light = { version = "0.2.0", path = "../../light-base", default-features = false }
